<div class="jumbotron">
    <div class="container">
        <h4>
            This is a UI implementation for the Fox Registry application. Which in turn is an attempt to
            express certain ideas about building cloud-suitable applications in code so they can be
            deployed, broken and generally messed with.
        </h4>
        The original wiki page with the architecture we seek to implement is available
        <a href="https://www.ria.ee/riigiarhitektuur/wiki/doku.php?id=an:rebasteregister"> HERE</a>
    </div>
</div>