<div>
    <table class="table table-bordered table-hover table-striped">

        <thead>
        <tr>
            <th>#</th>
            <th>Fox</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="fox in foxList">
            <td ng-bind="$index + 1"></td>
            <td ng-bind="fox.name"></td>
            <td>
                <a href=""
                   ng-click="delete(fox)">Delete
                </a>
                <a href=""
                   ng-click="update(fox)">Update
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <label>
                    <input type="text"
                           class="form-control"
                           ng-model="newFoxName">
                </label>
            </td>
            <td>
                <a ng-click="add(newFoxName)">Add fox</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>