<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered table-hover table-striped">

            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'COLUMN_NAME' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fox in foxList">
                    <td ng-bind="$index + 1"></td>
                    <td ng-bind="fox.name"></td>
                    <td>
                        <a href="" 
                           ng-click="delete(fox)">{{ 'DELETE' | translate }}
                        </a>
                        <a href=""
                           ng-click="edit(fox)">{{ 'UPDATE' | translate }}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <form>
            <label>{{ 'NAME' | translate }}</label>
            <input type="text" ng-model="selectedFox.name">

            <label>{{ 'PARENTS' | translate }}</label>
            <div>
                <select name="selectParent-$index" id="selectParent-$index" ng-model="selectedFox.parents[$index]" ng-repeat-start="parent in selectedFox.parents">
                    <option ng-repeat="fox in getAvailableParents(parent)" value="{{fox.uuid}}">{{ fox.name }}</option>
                </select>
                <a href="" ng-repeat-end ng-click="removeParent($index)">X</a>
            </div>

            <button ng-click="addParent()">{{ 'ADD_PARENT' | translate }}</button>

            <button type="submit" ng-if="!selectedFox.uuid" ng-click="add(selectedFox)">
                {{ 'ADD' | translate }}
            </button>
            <button type="submit" ng-if="selectedFox.uuid " ng-click="update(selectedFox)">
                {{ 'UPDATE' | translate }}
            </button>
        </form>
    </div>
</div>