<!DOCTYPE html>
<html ng-app="fox">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rebaseregister</title>
    <meta name="description"
          content="Näidisrakendus">

    <link rel="stylesheet" href="css/main.css">
    <!--<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">-->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="../feed.xml">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <script src="modules/config/config.js"></script>

    <!-- Angular Controllers -->
    <script src="modules/register/FoxRegisterController.js"></script>

    <!-- Angular Services -->
    <script src="modules/register/FoxRegisterService.js"></script>

    <!-- SWAGGER -->
    <link href='swagger-ui/css/typography.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='swagger-ui/css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='swagger-ui/css/print.css' media='print' rel='stylesheet' type='text/css'/>
    <link href='swagger-ui/css/reset.css' rel='stylesheet' type='text/css'/>
    <link href='swagger-ui/css/style.css' rel='stylesheet' type='text/css'/>

    <script src='swagger-ui/lib/jquery-1.8.0.min.js' type='text/javascript'></script>
    <script src='swagger-ui/lib/jquery.slideto.min.js' type='text/javascript'></script>
    <script src='swagger-ui/lib/jquery.wiggle.min.js' type='text/javascript'></script>
    <script src='swagger-ui/lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
    <script src='swagger-ui/lib/handlebars-2.0.0.js' type='text/javascript'></script>
    <script src='swagger-ui/lib/underscore-min.js' type='text/javascript'></script>
    <script src='swagger-ui/lib/backbone-min.js' type='text/javascript'></script>
    <script src='swagger-ui/swagger-ui.js' type='text/javascript'></script>
    <script src='swagger-ui/lib/highlight.7.3.pack.js' type='text/javascript'></script>
    <script src='swagger-ui/lib/marked.js' type='text/javascript'></script>


    <script type="text/javascript">
        function loadSwaggerUi(url, domId) {
            var ui = new SwaggerUi({
                url: url,
                dom_id: domId,
                supportedSubmitMethods: [],
                onComplete: function (swaggerApi, swaggerUi) {
                    $('pre code').each(function (i, e) {
                        hljs.highlightBlock(e)
                    });
                },
                onFailure: function (data) {
                    log("Unable to Load SwaggerUI");
                },
                docExpansion: "list",
                sorter: "alpha"
            });
            ui.load();
        }

        function log() {
            if ('console' in window) {
                console.log.apply(console, arguments);
            }
        }
    </script>

</head>

<body>
<div class="page-content">
    <div class="wrapper">
        <div class="home">
            <div ng-controller="RegisterController">
                <table class="table table-bordered table-hover table-striped">

                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Fox</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="fox in foxList">
                        <td ng-bind="$index + 1"></td>
                        <td ng-bind="fox.name"></td>
                        <td>
                            <a href="" ng-click="delete(fox)">Delete</a>
                            <a href="" ng-click="update(fox)">Update</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label>
                                <input type="text" class="form-control" ng-model="newFoxName">
                            </label>
                        </td>
                        <td>
                            <a href="" ng-click="add(newFoxName)">Add fox</a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>

