.vscode/
.idea/
*/.idea
*.iml
*.swp

bin/
pkg/

# dependencies' source created by go get
src/golang.org/
src/github.com/*
!src/github.com/e-gov/
src/github.com/e-gov/*
!src/github.com/e-gov/fox
src/gopkg.in/


static/properties.json
static/node_modules/
static/.tmp/

coverage_in_html/

# go vendoring
vendor/*/
.cache
