<!DOCTYPE html>
<html ng-app="fox">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>{{ 'TITLE' | translate }}</title>
    <meta name="description"
          content="Näidisrakendus">

    <link rel="stylesheet"
          href="css/main.css">
    <!--<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">-->
    <link rel="alternate"
          type="application/rss+xml"
          title="{{ site.title }}"
          href="../feed.xml">

    <link rel="stylesheet"
          href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="bower_components/angular-swagger-ui/dist/css/swagger-ui.min.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-swagger-ui/dist/scripts/swagger-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.10.0/angular-translate.min.js"></script>


    <script src="modules/config/translations.js"></script>
    <script src="modules/config/config.js"></script>

    <!-- Angular Controllers -->
    <script src="modules/register/FoxRegisterController.js"></script>

    <!-- Angular Services -->
    <script src="modules/register/FoxRegisterService.js"></script>

    <style>
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }
    </style>
    <!--Yaml parser for swagger-->
    <script src="bower_components/angular-swagger-ui/dist/scripts/swagger-yaml-parser.js"></script>
    <script src="bower_components/angular-swagger-ui/dist/scripts/js-yaml.min.js"
            type='text/javascript'></script>
</head>

<body ng-controller="RegisterController">
<div class="page-content">

    <header class="site-header">

        <div class="wrapper">

            <a class="site-title"
               ng-href="/#/" >
                {{ 'TITLE' | translate }}
            </a>

            <nav class="site-nav">
                <a href="#"
                   class="menu-icon">
                    <svg viewBox="0 0 18 15">
                        <path fill="#424242"
                              d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
                        <path fill="#424242"
                              d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
                        <path fill="#424242"
                              d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
                    </svg>
                </a>

                <div class="trigger">
                    <a class="page-link"
                       ng-href="/#/">{{ 'TITLE' | translate }}
                    </a>
                    <a class="page-link"
                       ng-href="/#/swagger">{{ 'API_DOC' | translate }}
                    </a>
                    <a class="page-link"
                       ng-href="/#/about">{{ 'ABOUT' | translate }}
                    </a>
                </div>
            </nav>

        </div>

        <div class="wrapper">
            <button class="enButton" ng-click="changeLanguage('en')"></button>
            <button class="estButton" ng-click="changeLanguage('et')"></button>
        </div>

    </header>



    <div class="wrapper">
        <div class="home">
            <ng-view></ng-view>
        </div>
    </div>



    <!--<footer class="site-footer">-->

    <!--<div class="wrapper">-->

    <!--&lt;!&ndash;<h2 class="footer-heading">{{ site.title }}</h2>&ndash;&gt;-->

    <!--<div class="footer-col-wrapper">-->
    <!--<div class="footer-col footer-col-1">-->
    <!--<ul class="contact-list">-->
    <!--&lt;!&ndash;<li>{{ site.title }}</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>&ndash;&gt;-->
    <!--</ul>-->
    <!--</div>-->

    <!--<div class="footer-col footer-col-2">-->
    <!--<ul class="social-media-list">-->
    <!--&lt;!&ndash;{% if site.github_username %}&ndash;&gt;-->
    <!--&lt;!&ndash;<li>&ndash;&gt;-->
    <!--&lt;!&ndash;{% include icon-github.html username=site.github_username %}&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->

    <!--&lt;!&ndash;{% if site.twitter_username %}&ndash;&gt;-->
    <!--&lt;!&ndash;<li>&ndash;&gt;-->
    <!--&lt;!&ndash;{% include icon-twitter.html username=site.twitter_username %}&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
    <!--</ul>-->
    <!--</div>-->

    <!--<div class="footer-col footer-col-3">-->
    <!--&lt;!&ndash;<p>{{ site.description }}</p>&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--</footer>-->

</div>
</body>
</html>

