@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/**
 * Reset some basic elements
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\000034}}
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\0000316}}
body {
  font: 400 16px/1.5 "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #111;
  background-color: #fdfdfd !important;
  -webkit-text-size-adjust: 100%;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\0000333}}
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}

/**
 * Images
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\0000345}}
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\0000355}}
figure > img {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\0000359}}
figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\0000368}}
ul, ol {
  margin-left: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\0000373}}
li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\0000384}}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/**
 * Links
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\0000393}}
a {
  color: #F87117 !important;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\0000397}}
a:visited {
  color: #F87117;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\00003101}}
a:hover {
  text-decoration: underline;
}

/**
 * Blockquotes
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\00003111}}
blockquote {
  color: #828282;
  border-left: 4px solid #cfcfcf;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\00003119}}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\00003129}}
pre,
code {
  font-size: 15px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  background-color: #eef;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\00003137}}
code {
  padding: 1px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\00003141}}
pre {
  padding: 8px 12px;
  overflow-x: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\00003145}}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\00003157}}
.wrapper {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\00003157}}
  .wrapper {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\00003179}}
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\00003193}}
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_base\.scss}line{font-family:\00003199}}
.icon > svg path {
  fill: #828282;
}

/**
 * Site header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\000034}}
.site-header {
  min-height: 120px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000311}}
.site-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 1px;
  margin-bottom: 0;
  float: left;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000320}}
.site-title, .site-title:visited {
  color: #111 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000325}}
.site-title:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000330}}
.site-nav {
  float: right;
  line-height: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000334}}
.site-nav .menu-icon {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000338}}
.site-nav .page-link {
  color: #F87117;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  transition: color 100ms linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000347}}
.site-nav .page-link:hover {
  color: #111 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000352}}
.site-nav .page-link:not(:last-child) {
  margin-right: 25px;
}
@media screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000330}}
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    text-align: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000366}}
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000375}}
  .site-nav .menu-icon > svg {
    width: 18px;
    height: 15px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000379}}
  .site-nav .menu-icon > svg path {
    fill: #292929;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000385}}
  .site-nav .trigger {
    clear: both;
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000390}}
  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000395}}
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\0000399}}
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

/**
 * Site footer
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003112}}
.site-footer {
  width: 100%;
  padding: 30px 0;
  background-color: #292929;
  margin-top: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003119}}
.footer-heading {
  font-size: 18px;
  margin-bottom: 30px;
  color: #F87117;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003126}}
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003132}}
.footer-col-wrapper {
  font-size: 15px;
  color: #cfcfcf;
  margin-left: -15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003139}}
.footer-col {
  float: left;
  padding-left: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003144}}
.footer-col-1 {
  width: calc(35% - (30px / 2));
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003149}}
.footer-col-2 {
  width: calc(20% - (30px / 2));
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003154}}
.footer-col-3 {
  width: calc(45% - (30px / 2));
}

@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003160}}
  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - (30px / 2));
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003166}}
  .footer-col-3 {
    width: calc(100% - (30px / 2));
  }
}
@media screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003173}}
  .footer-col {
    float: none;
    width: calc(100% - (30px / 2));
  }
}
/**
 * Page content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003185}}
.page-content {
  padding: 30px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003189}}
.page-heading {
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003193}}
.post-list {
  margin-left: 0;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003197}}
.post-list > li {
  margin-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003202}}
.post-meta {
  font-size: 14px;
  color: #828282;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003207}}
.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003217}}
.post-header {
  margin-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003221}}
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003221}}
  .post-title {
    font-size: 36px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003231}}
.post-content {
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003234}}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003234}}
  .post-content h2 {
    font-size: 28px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003242}}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003242}}
  .post-content h3 {
    font-size: 22px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003250}}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_layout\.scss}line{font-family:\00003250}}
  .post-content h4 {
    font-size: 18px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000317}}
.swagger-path {
  font-size: 19.2px;
  margin: 25px 0 10px 0;
  font-family: Courier New,Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono, monospace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000323}}
.swagger-method {
  padding: 0;
  margin: 10px 0;
  border-radius: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000330}}
.swagger-method-title {
  font-size: 16px;
  margin: 0;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000337}}
.swagger-method-link:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000342}}
.swagger-method-name {
  padding: 6px 0;
  display: inline-block;
  width: 80px;
  text-align: center;
  color: white;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000351}}
.swagger-method-get {
  border: 1px solid #6BBD5B;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\000034}}
.swagger-method-get .swagger-method-title {
  background: #cde9c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\000038}}
.swagger-method-get .swagger-method-link {
  color: #3f7f33;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000312}}
.swagger-method-get .swagger-method-name {
  background: #6BBD5B;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000355}}
.swagger-method-post {
  border: 1px solid #248FB2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\000034}}
.swagger-method-post .swagger-method-title {
  background: #88d0e7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\000038}}
.swagger-method-post .swagger-method-link {
  color: #134b5d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000312}}
.swagger-method-post .swagger-method-name {
  background: #248FB2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000359}}
.swagger-method-put {
  border: 1px solid #9B708B;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\000034}}
.swagger-method-put .swagger-method-title {
  background: #dacad4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\000038}}
.swagger-method-put .swagger-method-link {
  color: #614456;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000312}}
.swagger-method-put .swagger-method-name {
  background: #9B708B;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000363}}
.swagger-method-patch {
  border: 1px solid #D88541;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\000034}}
.swagger-method-patch .swagger-method-title {
  background: #f2d7c0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\000038}}
.swagger-method-patch .swagger-method-link {
  color: #95541e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000312}}
.swagger-method-patch .swagger-method-name {
  background: #D88541;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000367}}
.swagger-method-delete {
  border: 1px solid #E27A7A;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\000034}}
.swagger-method-delete .swagger-method-title {
  background: #fdf8f8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\000038}}
.swagger-method-delete .swagger-method-link {
  color: #ca2c2c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000312}}
.swagger-method-delete .swagger-method-name {
  background: #E27A7A;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000371}}
.swagger-method-details {
  margin: 0;
  padding: 15px;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000376}}
.swagger-method-details.open {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000381}}
.swagger-response {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000384}}
.swagger-response h5 {
  margin: 10px 0 5px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000389}}
.swagger-response-code {
  font-weight: 600;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000392}}
.swagger-response-code:after {
  content: ' — ';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\0000397}}
.swagger-parameters-table {
  border-spacing: 0px;
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\00003103}}
.swagger-parameters-table th, .swagger-parameters-table td {
  border: 1px solid #c2c2c2;
  padding: 4px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\00003108}}
.swagger-parameters-table th {
  background: #dedede;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_swagger\.scss}line{font-family:\00003114}}
.swagger-parameter-required:after {
  content: ' *';
  color: red;
}

/**
 * Syntax highlighting styles
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\000034}}
.highlight {
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\000038}}
.highlighter-rouge .highlight {
  background: #eef;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000312}}
.highlight .c {
  color: #998;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000313}}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000314}}
.highlight .k {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000315}}
.highlight .o {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000316}}
.highlight .cm {
  color: #998;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000317}}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000318}}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000319}}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000320}}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000321}}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000322}}
.highlight .ge {
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000323}}
.highlight .gr {
  color: #a00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000324}}
.highlight .gh {
  color: #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000325}}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000326}}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000327}}
.highlight .go {
  color: #888;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000328}}
.highlight .gp {
  color: #555;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000329}}
.highlight .gs {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000330}}
.highlight .gu {
  color: #aaa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000331}}
.highlight .gt {
  color: #a00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000332}}
.highlight .kc {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000333}}
.highlight .kd {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000334}}
.highlight .kp {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000335}}
.highlight .kr {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000336}}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000337}}
.highlight .m {
  color: #099;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000338}}
.highlight .s {
  color: #d14;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000339}}
.highlight .na {
  color: #008080;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000340}}
.highlight .nb {
  color: #0086B3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000341}}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000342}}
.highlight .no {
  color: #008080;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000343}}
.highlight .ni {
  color: #800080;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000344}}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000345}}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000346}}
.highlight .nn {
  color: #555;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000347}}
.highlight .nt {
  color: #000080;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000348}}
.highlight .nv {
  color: #008080;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000349}}
.highlight .ow {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000350}}
.highlight .w {
  color: #bbb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000351}}
.highlight .mf {
  color: #099;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000352}}
.highlight .mh {
  color: #099;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000353}}
.highlight .mi {
  color: #099;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000354}}
.highlight .mo {
  color: #099;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000355}}
.highlight .sb {
  color: #d14;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000356}}
.highlight .sc {
  color: #d14;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000357}}
.highlight .sd {
  color: #d14;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000358}}
.highlight .s2 {
  color: #d14;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000359}}
.highlight .se {
  color: #d14;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000360}}
.highlight .sh {
  color: #d14;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000361}}
.highlight .si {
  color: #d14;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000362}}
.highlight .sx {
  color: #d14;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000363}}
.highlight .sr {
  color: #009926;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000364}}
.highlight .s1 {
  color: #d14;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000365}}
.highlight .ss {
  color: #990073;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000366}}
.highlight .bp {
  color: #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000367}}
.highlight .vc {
  color: #008080;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000368}}
.highlight .vg {
  color: #008080;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000369}}
.highlight .vi {
  color: #008080;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mihkel\/Documents\/RIA\/fox\/static\/app\/css\/_syntax-highlighting\.scss}line{font-family:\0000370}}
.highlight .il {
  color: #099;
}
