; Persistence configuration
[Storage]
# Location of persistent files
FilePath = "/tmp/foxdb/"

; Authentication configuration
[Authn]
MintKeyName = "key.base64"
ValidateKeyNames = ["key.base64","key2.base64"]
TokenTTL = 15