---
layout: default
---

<div class="home">
    <div ng-controller="RegisterController">

        <table class="table table-bordered table-hover table-striped">

            <tr>
                <th>#</th>
                <th>Fox</th>
                <th></th>
            </tr>

            <tr ng-repeat="fox in foxList">
                <td ng-bind="$index + 1"></td>
                <td ng-bind="fox.name"></td>
                <td>
                    <a href="" ng-click="delete(fox)">Delete</a>
                    <a href="" ng-click="update(fox)">Update</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="text" class="form-control" ng-model="newFoxName">
                </td>
                <td>
                    <a href="" ng-click="add(newFoxName)">Add fox</a>
                </td>
            </tr>

        </table>
    </div>

</div>
