{
  "dataSource": "proxy",
  "proxies": [
    {
      "context": "/fox",
      "host": "fox",
      "port": 8090,
      "changeOrigin": true
    },
    {
      "context": "/login",
      "host": "session",
      "port": 8091,
      "changeOrigin": true
    }
  ]
}
